body {
    overflow: hidden;
    width: auto;
    height: auto;
    font-family: "amatic SC"
  }
  
  strong {
    font-family: "Amatic SC"
  }
  
  .homepage{
    background-image: url("frontPage2.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 300px; 
    background-color:  #209cee;

  }
  
  #loginSignupButton_Text {
    padding-top: 28%;
    padding-left: 41%;
    width: 5px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  
  }
